@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$primary: #DE2562;
$secondary: rgba(241, 31, 100, 80%);
$black: #28262C;
$white: #F9F5FF;
$white-secondary: #ffffffa9;

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: $white;
}

body {
    height: 100vh;
    background-color: $white;
}

body, html {
    width: 100vw;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.homepage-section-1 {
    width: 100vw;
    height: 65vh;
    padding: 2em;
    background: radial-gradient(circle, rgba(241,31,100,0.83) 0%, rgba(216,30,91,1) 100%);
}

.homepage-section-cards {
    width: 100vw;
    min-height: 50vh;
}

#examples {
    width: 100vw;
    margin-top: 2em;
    min-height: 50vh;
    padding: 2em;
    background: radial-gradient(circle, rgba(241,31,100,0.83) 0%, rgba(216,30,91,1) 100%);

    .example-prompt {
        max-height: 250px;
        background: $white;
        border-radius: 10px;
        box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.25);
        padding: 1.25em 1.5em;

        overflow-y: scroll;
        
        * {
            color: $black;
        }

        /* width */
        &::-webkit-scrollbar {
            width: 10px;
        }
        
        /* Track */
        &::-webkit-scrollbar-track {
            background: transparent;
        }
        
        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: #888;
            border-radius: 1em;
        }
        
        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
            background: #555;
        }
    }
}

#pricing {
    padding: 2em;
    * {
        color: $primary;
    }
}

.user-management-page-lsup {
    background: radial-gradient(circle, rgba(241,31,100,0.83) 0%, rgba(216,30,91,1) 100%);
    width: 100vw;
    min-height: 75vh;
    padding: 2em;

    form {
        box-shadow: 20px 20px 50px 0px rgba(0,0,0,0.3);

        text-align: center;
        border-radius: 10px;
        background: $white;
        padding: 2em;
        width: 40%;
        margin: 2em;

        * { color: $primary;  .input-prompt { color: $black; } }

    }
}

.input-prompt {
    text-align: left;
    background: $white;
    border-radius: 10px;
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.25);
    padding: 1em;
    margin: 0.5em;

    * {
        color: $black;
    }

    input {
        border:transparent;
        background:transparent;

        font-weight: bold;

        &:focus {
            outline: none;
        }

        &::placeholder {
            font-style: italic;
            font-weight: lighter;
        }
        
        width: 100%;
    }

    /* width */
    &::-webkit-scrollbar {
        width: 10px;
    }
    
    /* Track */
    &::-webkit-scrollbar-track {
        background: transparent;
    }
    
    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 1em;
    }
    
    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}

footer {
    background: radial-gradient(circle, rgba(241,31,100,0.83) 0%, rgba(216,30,91,1) 100%);
    box-shadow: 20px 20px 50px 0px rgba(0,0,0,0.3);
    min-height: 35vh;
    padding: 2em;
}

.d-navbar {
    width: 75%;
    margin: auto;

    color: $white;

    .d-dropdown-menu {
        border: 2px solid $primary;
        box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.25);
        width: 100%!important;

        * {
            color: $primary;
        }
    }
}

.link {
    color: $white;
    text-decoration: none;
    transition: 0.75s;

    &:hover {    
        color: $white-secondary;
        cursor: pointer;
        transition: 0.75s;
        text-decoration: none;
    }
}

.link-secondary {
    color: $primary!important;
    text-decoration: none;
    transition: 0.75s;

    &:hover {    
        color: $white!important;
        cursor: pointer;
        transition: 0.75s;
        text-decoration: none;
    }
}


.link-highlighted {
    border-bottom: 1px solid $white;
    transition: 0.75s;
    
    &:hover {    
        color: $white-secondary;
        cursor: pointer;
        transition: 0.75s;
        text-decoration: none;

        border-bottom: 1px transparent;
    }
}

.d-button {
    transition: .75s;

    &:hover {
        cursor: pointer;
        transition: .75s;
    }

}

.primary-btn {
    background: $black;
    border-radius: 10px;
    padding: .5em;
    border: solid 2px transparent;
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.25);

    &:hover {
        border: solid 2px $white;
    }
}

.secondary-btn {
    border-radius: 10px;
    background: $white;
    color: $primary;
    text-align: center;
    padding: 0.5em;
    margin: .75em .75em .75em 0;
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.25);
    border: solid 2px $primary;

    &:hover {
        border: solid 2px $white;
    }
}

.option-btn {
    border-radius: 10px;
    background: $white;
    color: $primary;
    text-align: center;
    padding: 0.5em;
    margin: .75em .75em .75em 0;
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.25);
    border: solid 2px transparent;
}

.option-btn-selected {
    border: solid 2px $white;
    background: transparent;
    color: $white;
}

.showcard {
    border-radius: 10px;
    background: $black;
    box-shadow: 20px 20px 50px 0px rgba(0,0,0,0.3);
    padding: 2em;
    text-align: center;
}

main {
    width: 100vw;
    min-height: 90vh;
    background: radial-gradient(circle, rgba(241,31,100,0.83) 0%, rgba(216,30,91,1) 100%);

    .sidebar {
        background: $white;
        border-top-right-radius: 1em;
        padding: 2em;

        .option-btn {
            border-radius: 10px;
            background: $white;
            color: $primary;
            text-align: center;
            padding: 0.5em;
            margin: .75em .75em .75em 0;
            box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.25);
            border: solid 2px $primary;
            white-space: nowrap;
        }
        
        .option-btn-selected {
            border: solid 2px transparent;
            background: $primary;
            color: $white;
        }
        
        * {
            color: $primary;
        }
    }

    .prompt-section {
        padding: 4em;
    }

    .context-section {
        padding: 4em;
    }

    .checkbox {
        border-radius: 10px;
        background: $black;
        width: 25px;
        height: 25px;
        transition: 0.75s;

        &:hover{
            cursor: pointer;
        }
    }

    .checkbox-selected {
        background: $primary;
    }

}

.mobile-tab-bar {
    display: none;
    visibility: hidden;
}

.d-dropdown-menu {
    transition: all 0.5s;
    overflow: hidden;
    transform-origin: top center;
    transform: scale(1,0);
}

.d-examples-response {
    width: 50%;
    max-width: 50%;
}

.context-item {
    cursor: pointer;
}

.h-sm-auto-100 {
    height: 75%!important;
}

.cards-container {
    display: grid;
    grid-template-columns: auto auto auto;
}

// Smaller
@media only screen and (max-width: 768px) {
    .d-navbar {
        width: 100%!important;
        padding: 0!important;
    }

    .w-75 {
        width: 100%!important;
    }

    .homepage-section-1 {
        .col-7 {
            margin-top: 3em;
            flex: 0 0 100%;
            max-width: 100%;
        }
    }

    .homepage-section-cards {
        overflow:auto;
        min-height: 50%;
        max-height: 70%;

        .showcard {
            box-shadow: none;
        }

        .cards-container {
            display: grid;
            grid-template-columns: auto;
            grid-auto-flow: column;
        }        
    }

    .h-sm-100 {
        height: 100%!important;
    }

    .h-sm-auto-100 {
        height: auto!important;
    }

    .d-examples {
        display: grid;
        grid-template-rows: auto;

        div {
            width: 100%!important;
            max-width: 100%!important;
        }

        .pr-5 {
            padding-right: 0!important;
        }

        .d-examples-response {
            display: flex!important;
            justify-content: left!important;
            margin-top: 1.5em;
        }

        .option-chooser {
            display: flex!important;
            justify-content: space-around!important;
            gap: 3em;

            .row {
                display: block;
                width: 50%!important;
            }
        }
    }

    footer {
        min-height: 28vh;
        padding: 2em;
    }

    .logo-row {
        display: inline-block;
        gap: 1.5em;
        flex-wrap: nowrap;
    }

    .user-management-page-lsup {
        form {
            width: 100%;
            margin: 0;
            margin-top: 2em;
            padding: 1.2em;
        }

        .form-container {
            width: 100%!important;
            margin: 0 !important;
            display: block !important;
        }
    }

    main {
        margin-left: 0 !important;
    }

    .mobile-tab-bar {
        display: grid;
        grid-template-columns: auto auto auto;
        
        background: $primary;

        visibility: visible;
        
        .option-btn {
            border-radius: 10px;
            background: $white;
            color: $primary;
            text-align: center;
            padding: 0.5em;
            margin: .75em .75em .75em 0;
            box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.25);
            border: solid 2px $primary;
        }
        
        .option-btn-selected {
            border: solid 2px $white;
            background: $primary;
            color: $white;
        }
    }

    .sidebar {
        width: 100%!important;
        max-width: 100%!important;
        flex: 100%!important;
        border-top-right-radius: 0!important;
    }

    .prompt-section {
        width: 100%!important;
        max-width: 100%!important;
        flex: 100%!important;
        padding: 1em !important;
    }

    .context-section {
        width: 100%!important;
        max-width: 100%!important;
        flex: 100%!important;
        padding: 1em !important;
    }
}
