<!-- Footer -->
<template id="footer-template">
    <footer>
        <div class="row w-75 m-auto">
            <div class="col-7">
                <div class="row">
                    <div class="col-6">
                        <a href="/" class="link">
                            <div class="row">
                                <div class="col-2 text-left">
                                    <img src="assets/study_ai_white.png" width="36" height="36" alt="Logo"/>
                                </div>
                                <div class="col">
                                    <h3>StudyAI</h3>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="row-4 h-100 d-flex align-items-center mt-3">
                    <div>
                        <div class="pl-3 mt-3">
                            <h5>Get in touch</h5>
                        </div>
                        <div class="w-50 d-flex align-items-center mt-3">
                            <div class="col">
                                <a href="https://www.instagram.com/studyai_ig/" class="link" target="_blank" rel="noopener noreferrer">
                                    <i class="fa fa-instagram" aria-hidden="true"></i>
                                </a>
                            </div>
                            <div class="col">
                                <a href="https://www.facebook.com/studyai.fa/" class="link" target="_blank" rel="noopener noreferrer">
                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                                </a>
                            </div>
                            <div class="col">
                                <a href="https://twitter.com/StudyAI_tw" class="link" target="_blank" rel="noopener noreferrer">
                                    <i class="fa fa-twitter" aria-hidden="true"></i>
                                </a>
                            </div>
                            <div class="col">
                                <a href="mailto:contact.studyai@gmail.com" class="link" target="_blank" rel="noopener noreferrer">
                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-5">
                <div class="row">
                    <div class="col">
                        <h6>Overview</h6>
                    </div>
                    <div class="col">
                        <h6>About</h6>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col">
                        <div class="row"><a href="/" class="link font-weight-light p-2 ml-2">Home</a></div>
                        <div class="row"><a href="/#examples" class="link font-weight-light p-2 ml-2">Examples</a></div>
                        <div class="row"><a href="/#pricing" class="link font-weight-light p-2 ml-2">Pricing</a></div>
                        <div class="row"><a href="/signup" class="link font-weight-light p-2 ml-2">Signup</a></div>
                        <div class="row"><a href="/login" class="link font-weight-light p-2 ml-2">Login</a></div>
                    </div>
                    <div class="col">
                        <div class="row"><a href="#" class="link font-weight-light p-2 ml-2">Terms and Conditons</a></div>
                        <div class="row"><a href="#" class="link font-weight-light p-2 ml-2">Privacy Policy</a></div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</template>
