<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- SEO OPTIMIZATION-->
    <title>Your personal AI tutor - Study AI</title>
    <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon">
    <meta name="description" content="Learn anything in the world with the help of your professional AI tutor on StudyAI">
    <meta name="keywords" content="AI, Learn, Education, Easy, Tutor, Artifical Intelligence, Ace your exams">
    <meta name="author" content="Ibrahim F.">
    <!-- SEO ENDS-->

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="js/dashboard.js"></script>
    <script src="js/index.js"></script>
    <script src="js/components/navbar.js"></script>
    <script src="js/components/footer.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="style.css">

    <!-- Main Petite vue-->
    <script type="module">
        import { createApp, reactive } from 'https://unpkg.com/petite-vue?module'

        const options = reactive({
            examples: GetExamples(),
            optionSelected: 1,
            selectOption(n) {
                this.optionSelected = n;

                const inputPrompt = document.querySelector('#prompt-input');

                inputPrompt.value = "";

                tabs.selectOption(2);
            },
            getPromptType() {
                return this.examples[this.optionSelected - 1].topic
            },
            getExamplePrompt() {
                return this.examples[this.optionSelected - 1].prompt
            },
        })

        const tabs = reactive({
            optionSelected: 1,
            selectOption(n) {
                this.optionSelected = n;
            },
            checkSelected(n) {
                const tabSelector = document.querySelector('.mobile-tab-bar');

                const x = window.getComputedStyle(tabSelector).visibility === "hidden";

                if (x) return false;

                return this.optionSelected != n;
            }
        })

        const context = reactive({
            contextList: [
            ],
            addPrompt(options) {
                this.contextList = [{ prompt: this.currentPromptText, type: options.getPromptType(), chosen: true, response: {} }, ...this.contextList];
            },
            showOldResponse (index) {
                this.response = this.contextList[index].response;

                tabs.selectOption(2);
            },
            currentPromptText: '',
            response: 'Waiting for input...'
        })

        const affiliate = reactive({
            affiliateInfo: {},

            async checkAffiliate() {
                Swal.fire({
                    title: "Loading...",
                    text: "Please wait while we set your dashboard up",
                    didOpen: () => {
                        Swal.showLoading()
                    },
                    showConfirmButton: false
                });

                const result = await axios.post('/api/check-affiliate');

                let data = await result.data;

                console.log(data);

                Swal.close();

                this.affiliateInfo = data;
            },

            async showAffiliateInfo () {
                await (this.checkAffiliate());

                Swal.fire({
                    title: '<strong style="color: black;">Affiliate Info</strong>',
                    icon: 'info',
                    html:
                        `<style>
                        * {
                            color: black;
                            text-align: left;
                        }    
                        </style>
                        
                        <h6>As an affiliate, you will recieve $2 from the $10 a user that signs up through your link pays monthly.</h2>
                        <h6>You will be contacted via email at the end of each month to collect your money.<br/><br/></h4>
                        <h5>Your info:</h5>
                        <h6>Your referral link: <a id="referral-link" href="/signup/${this.affiliateInfo.affiliateId}">studyai.ca/signup/${this.affiliateInfo.affiliateId}</a></h6>
                        <h6>Money Earned (monthly): $${this.affiliateInfo.balance}</h6>
                        <h6>Users Brought in: ${this.affiliateInfo.balance / 2}</h6>
                        `,
                    showCloseButton: true,
                    showCancelButton: true,
                    focusConfirm: false,
                    confirmButtonText:
                        '<i class="fa fa-thumbs-up"></i> Great!',
                    confirmButtonAriaLabel: 'Thumbs up, great!',
                })
            }
        })

        createApp({
            options,
            context,
            Footer,
            tabs,
            affiliate,

            async go (event) {
                event.preventDefault();

                this.context.addPrompt(this.options);

                let response = await submitPrompt(this.context);

                console.log(response);

                this.context.response = response;
                this.context.contextList.find(x => x.prompt == this.context.currentPromptText).response = response;
            },

            howToPrompt() {
                Swal.fire({
                    title: '<strong style="color: black;">What is the prompt?</strong>',
                    icon: 'info',
                    html:
                        'The prompt section contains two boxes. In the first one, you enter in the prompt you the AI to generate.<br>In the second one, the response will be generated',
                    showCloseButton: true,
                    showCancelButton: true,
                    focusConfirm: false,
                    confirmButtonText:
                        '<i class="fa fa-thumbs-up"></i> Great!',
                    confirmButtonAriaLabel: 'Thumbs up, great!',
                })
            },

            howToContext() {
                Swal.fire({
                    title: '<strong style="color: black;">What is the prompt?</strong>',
                    icon: 'info',
                    html:
                        'The context section contains a list of the previous prompts you entered during this session. Next to each prompt, you will find a red box. <br>This box being red means that the AI will remember that prompt and use it as context. <br>To prevent this, clicking on the red box will turn in black, meaning the AI will forget it.',
                    showCloseButton: true,
                    showCancelButton: true,
                    focusConfirm: false,
                    confirmButtonText:
                        '<i class="fa fa-thumbs-up"></i> Great!',
                    confirmButtonAriaLabel: 'Thumbs up, great!',
                })
            }
        }).mount();
    </script>
 

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<!-- Templates -->

<!-- Body -->
<body>
    <!-- Mobile Tab bar -->
    <div v-scope class="w-100 p-2 mobile-tab-bar sticky-top d-lg-none">
        <div :class="['d-button', 'option-btn', {'option-btn-selected': tabs.optionSelected == 1}]" @click="tabs.selectOption(1)">Options</div>
        <div :class="['d-button', 'option-btn', {'option-btn-selected': tabs.optionSelected == 2}]" @click="tabs.selectOption(2)">Prompt</div>
        <div :class="['d-button', 'option-btn', {'option-btn-selected': tabs.optionSelected == 3}]" @click="tabs.selectOption(3)">Context</div>
    </div>
    <!-- Main body -->
    <main class="row ml-0" v-scope>
        <!-- Sidebar -->
        <div :class="['col-2', 'sidebar', {'d-none': tabs.checkSelected(1)}]" v-scope>
            <div class="row">
                <div class="col-3 text-left">
                    <img src="assets/study_ai_aura.svg" width="36" height="36" alt="Logo"/>
                </div>
                <div class="col">
                    <a href="/" class="link">
                        <h3>StudyAI</h3>
                    </a>
                </div>
            </div>

            <div class="row-4 pt-5">
                <div class="col w-75 m-auto text-center p-0">
                    <div 
                        v-for="(option, i) in options.examples"
                        :class="['row', 'd-button', 'option-btn', 'mt-3', 'mb-3', 'mr-0', {'option-btn-selected': (options.optionSelected == i + 1)}]" 
                        @click="options.selectOption(i + 1)" 
                    >
                        {{ option.topic }}
                    </div>
                    
                </div>
            </div>
            
            <div class="row-3 w-75 h-50 m-auto d-flex align-items-center" v-scope @vue:mounted="affiliate.checkAffiliate">
                <div class="col p-0">
                    <div class="row w-100 d-button option-btn" onclick="logout(event)">
                        Logout
                    </div>
                    <div :class="['row', 'w-100', 'd-button', 'option-btn', {'d-none': !(affiliate.affiliateInfo.isAffiliate) }]" @click="affiliate.showAffiliateInfo">
                        Show Affiliate Info
                    </div>
                </div>
            </div>
        </div>
        <!-- Prompt section -->
        <div :class="['col-5', 'prompt-section', {'d-none': tabs.checkSelected(2)}]" v-scope>
            <div class="row">
                <div class="col-8">
                    <h3>Enter your prompt below</h3>
                </div>
                <div class="col-4 d-flex justify-content-end align-items-center">
                    <div @click="howToPrompt" class="d-button link">
                        <i class="fa fa-question-circle" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <div class="row-2 pt-5">
                <div class="input-prompt" style="margin: 0;">
                    <p >{{ options.getPromptType() }} Prompt</p>
                    <input id="prompt-input" type="text" :placeholder="options.getExamplePrompt()" @change="context.currentPromptText = $el.value" />
                </div>
            </div>
            <div class="row-6 h-50 pt-5">
                <div class="input-prompt h-100" style="margin: 0; overflow-y: scroll;">
                    <p >Response</p>
                    <h6 style="white-space: pre-wrap;">{{context.response}}</h6>
                </div>
            </div>
            <div class="row-2 pt-5">
                <div @click="go(event)" class="w-100 d-button secondary-btn">
                    Go
                </div>
            </div>
        </div>
        <!-- Context section -->
        <div :class="['col-4', 'context-section', {'d-none': tabs.checkSelected(3)}]">
            <div class="row" v-scope>
                <div class="col-8">
                    <h3>Context</h3>
                </div>
                <div class="col-4 d-flex justify-content-end align-items-center">
                    <div @click="howToContext" class="d-button link">
                        <i class="fa fa-question-circle" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <div class="row pt-4" v-scope>
                <p :class="['pl-3', {'d-none': context.contextList.length != 0}]">You have not entered anything in yet.</p>
                <div class="context-item m-auto" style="min-width: 100%;" v-for="(contextItem, i) in context.contextList">
                    <div @click="context.showOldResponse(i)" class="input-prompt d-flex justify-content-center">
                        <div style="width:85%">
                            <p>{{ contextItem.type }} Prompt</p>
                            <span>{{contextItem.prompt}}</span>
                        </div>
                        <div class="d-flex justify-content-center align-items-center">
                            <div :class="['checkbox', {'checkbox-selected': contextItem.chosen}]" @click="contextItem.chosen = !contextItem.chosen">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!-- Footer -->
    <div v-scope="Footer({ })"></div> 
</body>
</html>
